<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/staticfiles/css/canvas.css">
    <title>Magicolorize | Editor</title>
    <link rel="icon" type="image/x-icon" href="../static/staticfiles/favicon.ico">
    <style>
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 1000;
        }

        .overlay.show {
            opacity: 1;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            font-family: Arial, sans-serif;
            width: 90%;
            max-width: 400px;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 1001;
        }

        .popup.show {
            opacity: 1;
        }

        .popup-content {
            display: flex;
            flex-direction: column;
        }

        .image-section {
            width: 100%;
            margin-bottom: 20px;
        }

        .image-section img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 5px;
        }

        .download-section {
            width: 100%;
        }

        .download-button {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            margin: 10px 0;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
            font-size: 24px;
            color: #000;
        }

        .message {
            margin-top: 10px;
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            .popup {
                width: 95%;
                padding: 15px;
            }

            .image-section {
                display: none;
                /* Mobilde resim kısmını gizle */
            }

            .download-button {
                font-size: 14px;
                padding: 8px 16px;
            }

            .close {
                font-size: 20px;
                top: 5px;
                right: 10px;
            }
        }

        .message {
            margin-top: 10px;
            text-align: center;
        }
    </style>
    <style>
        .custom-menuu {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            width: 200px;
            display: none;
            position: absolute;
            background-color: #333;
            color: #fff;
            border-radius: 5px;
            padding: 10px 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }

        .menu-item {
            padding: 8px 20px;
            cursor: pointer;
            white-space: nowrap;
        }

        .menu-item:hover {
            background-color: #575757;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="../../">
                <img src="../../static/staticfiles/images/logo.png" alt="Magicolorize" height="30">
            </a>
            <div class="d-flex ml-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                        {{user.first_name}} {{user.last_name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="../../account">Account</a>
                        <a class="dropdown-item" href="../../mygallery">Gallery</a>
                        <a class="dropdown-item" href="../../settings">Settings</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-container">
        <div class="content-container">
            <button id="menuToggle">☰</button>
            <div id="menu">
                <br>
                <h4>Tools</h4>
                <ul>
                    <li class="listsss"><a href="#"><button class="btnum">Background Remover</button></a></li>
                    <li><a href="#"><button class="btnum">Colorize</button></a></li>
                </ul>
            </div>
            <div id="canvas-container" style="margin-left: 0px !important;">
                <canvas id="myCanvas"></canvas>
                <button class="downloadButton" id="downloadButton">Download</button>
                <img id="uploadedImage" src="data:image/png;base64,{{ watermark_image }}" style="display:none;">
                <label for="fileInput" id="fileInputLabel">Resim Seç</label>
                <input type="file" id="fileInput" accept="image/*">
                <div id="info"></div>
                <div id="zoomControl" style="display: none;">
                    <button id="zoomOutBtn">-</button>
                    <span id="zoomPercentage">100%</span>
                    <button id="zoomInBtn">+</button>
                </div>
                <canvas id="miniMap" style="display: none;"></canvas>
            </div>
            <div id="rightAd" class="ad">
                Adsense
                <div class="ad-close">✕</div>
            </div>
        </div>
        <div id="bottomAd" class="ad">
            Adsense
            <div class="ad-close">✕</div>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <div id="myPopup" class="popup">
        <span class="close" onclick="closePopup()">&times;</span>
        <p id="popupMessage" class="message"></p>
    </div>
    <div class="custom-menuu" id="custom-menuu">
        <div class="menu-item" data-action="back">Back</div>
        <div class="menu-item" data-action="forward">Forward</div>
        <div class="menu-item" data-action="reload">Reload</div>
        <div class="menu-item" data-action="save">Save</div>
        <div class="menu-item" data-action="print">Print</div>
        <div class="menu-item">Inspect</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');
        const fileInput = document.getElementById('fileInput');
        const info = document.getElementById('info');
        const downloadButton = document.getElementById('downloadButton');
        const zoomPercentage = document.getElementById('zoomPercentage');
        const zoomInBtn = document.getElementById('zoomInBtn');
        const zoomOutBtn = document.getElementById('zoomOutBtn');
        const miniMap = document.getElementById('miniMap');
        const miniCtx = miniMap.getContext('2d');
        const menuToggle = document.getElementById('menuToggle');
        const menu = document.getElementById('menu');
        const canvasContainer = document.getElementById('canvas-container');
        const uploadedImage = document.getElementById('uploadedImage');
        const MIN_SCALE = 0.25; // %10
        const MAX_SCALE = 2.5;   // %250

        let img = new Image();
        let scale = 1;
        let isDragging = false;
        let startX, startY, translateX = 0, translateY = 0;
        let originalImageData;
        let menuOpen = false;

        function loadImage(src) {
            img.onload = function () {
                resizeCanvas();
                scale = Math.min(canvas.width / img.width, canvas.height / img.height);
                translateX = (canvas.width - img.width * scale) / 2;
                translateY = (canvas.height - img.height * scale) / 2;
                draw();
                document.getElementById('fileInputLabel').style.display = 'none';
                updateInfo();
                downloadButton.style.display = 'block';
                document.getElementById('zoomControl').style.display = 'flex';
                setupMiniMap();
                updateMiniMap();
            }
            img.src = src;
        }

        if (uploadedImage.src) {
            loadImage(uploadedImage.src);
        }

        fileInput.addEventListener('change', function (e) {
            const file = e.target.files[0];
            const reader = new FileReader();

            reader.onload = function (event) {
                originalImageData = event.target.result;
                loadImage(originalImageData);
            }
            reader.readAsDataURL(file);
        });

        function resizeCanvas() {
            const container = document.getElementById('canvas-container');

            // Canvas boyutunu container'a göre ayarla, menü durumunu dikkate almadan
            canvas.width = container.clientWidth;
            canvas.height = container.clientHeight;
            canvas.style.width = `${canvas.width}px`;
            canvas.style.height = `${canvas.height}px`;

            if (img.src) {
                // Görüntüyü yeniden ölçeklendirme ve konumlandırma
                const scaleX = canvas.width / img.width;
                const scaleY = canvas.height / img.height;
                scale = Math.min(scaleX, scaleY);

                translateX = (canvas.width - img.width * scale) / 2;
                translateY = (canvas.height - img.height * scale) / 2;
            }

            draw();
        }

        // window.addEventListener('resize', resizeCanvas);
        resizeCanvas();
        window.addEventListener('resize', function () {
            const container = document.getElementById('canvas-container');
            if (menu.classList.contains('open')) {
                container.style.width = window.innerWidth <= 768 ? '0' : 'calc(100% - 270px)';
            } else {
                container.style.width = '100%';
            }
            draw();
        });

        function setScale(newScale, centerX, centerY) {
            const oldScale = scale;
            scale = Math.min(Math.max(newScale, MIN_SCALE), MAX_SCALE);

            if (scale !== oldScale && centerX !== undefined && centerY !== undefined) {
                // Mouse pozisyonuna göre zoom yap
                const zoomRatio = scale / oldScale;
                translateX = centerX - (centerX - translateX) * zoomRatio;
                translateY = centerY - (centerY - translateY) * zoomRatio;
            }

            // Görüntünün sınırları dışına çıkmasını engelle
            const maxTranslateX = Math.max(0, (img.width * scale - canvas.width) / 2);
            const maxTranslateY = Math.max(0, (img.height * scale - canvas.height) / 2);

            translateX = Math.min(Math.max(translateX, -maxTranslateX), maxTranslateX);
            translateY = Math.min(Math.max(translateY, -maxTranslateY), maxTranslateY);

            draw();
        }

        function draw() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            if (img.src) {
                ctx.save();
                ctx.translate(canvas.width / 2 + translateX, canvas.height / 2 + translateY);
                ctx.scale(scale, scale);
                ctx.drawImage(img, -img.width / 2, -img.height / 2, img.width, img.height);
                ctx.restore();
            }

            updateZoomPercentage();
            updateMiniMap();
        }

        function updateInfo() {
            info.textContent = `${img.width}x${img.height} px`;
        }

        function updateZoomPercentage() {
            zoomPercentage.textContent = `${Math.round(scale * 100)}%`;
            miniMap.style.display = scale > 1 ? 'block' : 'none';
        }

        function setupMiniMap() {
            const maxMiniMapSize = 250;
            const ratio = img.width / img.height;
            if (ratio > 1) {
                miniMap.width = maxMiniMapSize;
                miniMap.height = maxMiniMapSize / ratio;
            } else {
                miniMap.height = maxMiniMapSize;
                miniMap.width = maxMiniMapSize * ratio;
            }
            // updateMiniMap fonksiyonu artık görünürlüğü kontrol edecek
        }

        function updateMiniMap() {
            const miniMap = document.getElementById('miniMap');

            if (scale > 1) {
                miniMap.style.display = 'block';
                miniCtx.clearRect(0, 0, miniMap.width, miniMap.height);
                miniCtx.drawImage(img, 0, 0, miniMap.width, miniMap.height);

                // Canvas'ın merkez noktasını hesapla
                const canvasCenterX = canvas.width / 2;
                const canvasCenterY = canvas.height / 2;

                // Görüntünün sol üst köşesinin koordinatları
                const imageLeftX = canvasCenterX + translateX - (img.width * scale) / 2;
                const imageTopY = canvasCenterY + translateY - (img.height * scale) / 2;

                // Görünür alanın koordinatlarını hesapla
                const viewportRect = {
                    x: (-imageLeftX / (img.width * scale)) * miniMap.width,
                    y: (-imageTopY / (img.height * scale)) * miniMap.height,
                    width: (canvas.width / (img.width * scale)) * miniMap.width,
                    height: (canvas.height / (img.height * scale)) * miniMap.height
                };

                // Kırmızı dikdörtgeni çiz
                miniCtx.strokeStyle = 'red';
                miniCtx.lineWidth = 2;
                miniCtx.strokeRect(
                    viewportRect.x,
                    viewportRect.y,
                    viewportRect.width,
                    viewportRect.height
                );
            } else {
                miniMap.style.display = 'none';
            }
        }


        window.addEventListener('resize', function () {
            if (menu.classList.contains('open')) {
                contentContainer.style.marginLeft = window.innerWidth <= 768 ? '100%' : '270px';
            }
            resizeCanvas();
        });

        canvas.addEventListener('wheel', function (e) {
            e.preventDefault();
            const rect = canvas.getBoundingClientRect();
            const mouseX = e.clientX - rect.left - canvas.width / 2;
            const mouseY = e.clientY - rect.top - canvas.height / 2;

            const zoomIntensity = 0.1;
            const wheel = e.deltaY < 0 ? 1 : -1;
            const zoom = Math.exp(wheel * zoomIntensity);

            const newScale = scale * zoom;

            setScale(newScale, mouseX, mouseY);
        });

        canvas.addEventListener('mousedown', function (e) {
            if (e.button === 0) {
                isDragging = true;
                startX = e.clientX - translateX;
                startY = e.clientY - translateY;
            }
        });

        canvas.addEventListener('mousemove', function (e) {
            if (isDragging) {
                translateX = e.clientX - startX;
                translateY = e.clientY - startY;
                draw();
            }
        });

        canvas.addEventListener('mouseup', function () {
            isDragging = false;
        });

        canvas.addEventListener('mouseleave', function () {
            isDragging = false;
        });

        canvas.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });

        miniMap.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });



        function zoomFromCenter(zoomFactor) {
            const newScale = scale * zoomFactor;
            setScale(newScale);
        }

        zoomInBtn.addEventListener('click', function () {
            zoomFromCenter(1.1);
        });

        zoomOutBtn.addEventListener('click', function () {
            zoomFromCenter(1 / 1.1);
        });

        // Menü toggle event listener'ını şu şekilde güncelleyin:
        const contentContainer = document.querySelector('.content-container');

        menuToggle.addEventListener('click', function () {
            menu.classList.toggle('open');
            menuToggle.innerHTML = menu.classList.contains('open') ? '⮜' : '☰';

            // Canvas container'ın genişliğini ayarla, ama canvas'ı yeniden boyutlandırma
            if (menu.classList.contains('open')) {
                canvasContainer.style.width = window.innerWidth <= 768 ? '0' : 'calc(100% - 270px)';
            } else {
                canvasContainer.style.width = '100%';
            }

            // Canvas'ı yeniden çiz, ama boyutunu değiştirme
            draw();
        });

        // Adsense kapatma işlemini şu şekilde güncelleyin:
        document.querySelectorAll('.ad-close').forEach(function (closeBtn) {
            closeBtn.addEventListener('click', function () {
                this.parentElement.style.display = 'none';
                setTimeout(resizeCanvas, 0);
            });
        });

        fileInput.addEventListener('change', function (e) {
            const file = e.target.files[0];
            const reader = new FileReader();

            reader.onload = function (event) {
                originalImageData = event.target.result;
                img.onload = function () {
                    resizeCanvas();
                    scale = Math.min(canvas.width / img.width, canvas.height / img.height);
                    translateX = (canvas.width - img.width * scale) / 2;
                    translateY = (canvas.height - img.height * scale) / 2;
                    draw();
                    document.getElementById('fileInputLabel').style.display = 'none';
                    updateInfo();
                    downloadButton.style.display = 'block';
                    document.getElementById('zoomControl').style.display = 'flex';
                    setupMiniMap();
                    updateMiniMap(); // Minimap'i güncelle ve gerekirse göster
                }
                img.src = originalImageData;
            }
            reader.readAsDataURL(file);
        });

        document.addEventListener('DOMContentLoaded', function () {

            var img = document.getElementById('uploadedImage');
            if (img) {
                const originalSrc = img.src;
                img.src = ''; // src değerini boş bir string ile değiştirir
            }
            var credits = '{{ credits }}'; // Django template variable
            var button = document.getElementById('downloadButton');

            button.addEventListener('mouseover', function () {
                button.textContent = 'Credits: ' + credits;
            });

            button.addEventListener('mouseout', function () {
                button.textContent = 'Download';
            });
        });

        let imageUrl = ""; // Global olarak tanımlıyoruz
        let lowResImageUrl = "data:image/png;base64,{{ low_blob }}"; // Düşük çözünürlüklü görüntü için

        document.getElementById('downloadButton').addEventListener('click', function () {
            imageUrl = "/{{image.result|escapejs}}";  // İndirilen resmin olduğu img elementi
            updatePopup('<span class="close" onclick="closePopup()">&times;</span><div class="popup-content"><div class="image-section"><img src="../../static/staticfiles/images/download.png" alt="Magicolor Image"></div><div class="download-section"><h2>Download Options</h2><button class="btn btn-primary download-button" onclick="downloadHD()">Normal Download</button><button class="download-button" onclick="downloadNormal()">Watermarked Download</button></div></div>');
            showPopup();
        });

        function downloadHD() {
            fetch('/decrease_credit/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `image_url=${encodeURIComponent(imageUrl)}`,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // İndirme işlemini gerçekleştir
                        const link = document.createElement('a');
                        link.download = 'image.png';
                        link.href = imageUrl;
                        link.click();
                        // Kredi göstergesini güncelle
                        document.getElementById('downloadButton').textContent = 'Credits: ' + data.remaining_credits;
                        location.reload();
                    } else {
                        handleError(data.error);
                    }
                })
                .catch(error => {
                    console.error('Bir hata oluştu:', error);
                    handleError('The download could not be completed, try again later!');
                });
        }

        function downloadNormal() {
            // Düşük çözünürlüklü resmi indir
            const link = document.createElement('a');
            link.download = 'image_normal.png';
            link.href = lowResImageUrl;
            link.click();
        }

        function handleError(errorMessage) {
            if (errorMessage === 'Insufficient credits') {
                updatePopupMessage('<span class="close" onclick="closePopup()">&times;</span> <div class="text-center">  Please upload credit. <b>Your Credit: 0  </b> <br> <br> <a href="/account/" class="btn btn-warning text-center">Buy Credits</button></a> ');
            } else {
                updatePopupMessage('<span class="close" onclick="closePopup()">&times;</span> <div class="text-center"> ' + errorMessage + '</div>');
            }
            showPopup();
        }


        // CSRF token'ı almak için yardımcı fonksiyon
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script>
        function showPopup() {
            const popup = document.getElementById("myPopup");
            const overlay = document.getElementById("overlay");
            popup.style.display = "block";
            overlay.style.display = "block";
            setTimeout(() => {
                popup.classList.add("show");
                overlay.classList.add("show");
            }, 10);
        }

        function closePopup() {
            const popup = document.getElementById("myPopup");
            const overlay = document.getElementById("overlay");
            popup.classList.remove("show");
            overlay.classList.remove("show");
            setTimeout(() => {
                popup.style.display = "none";
                overlay.style.display = "none";
            }, 300);
        }

        function updatePopup(newContent) {
            document.getElementById("myPopup").innerHTML = newContent;
        }

        function updatePopupMessage(newMessage) {
            document.getElementById("myPopup").innerHTML = newMessage;
        }
    </script>
    <script>
        function goBack() {
            window.history.back();
        }

        function goForward() {
            window.history.forward();
        }

        function reloadPage() {
            window.location.reload();
        }


        function printPage() {
            window.print();
        }

        document.addEventListener('contextmenu', function (e) {
            if (!isMobileDevice()) {
                e.preventDefault();
                var menu = document.getElementById('custom-menuu');
                var menuWidth = menu.offsetWidth;
                var menuHeight = menu.offsetHeight;
                var windowWidth = window.innerWidth;
                var windowHeight = window.innerHeight;

                var left = e.clientX;
                var top = e.clientY;

                // Sağ tarafa taşma kontrolü
                if (left + menuWidth > windowWidth) {
                    left = windowWidth - menuWidth;
                }

                // Alt tarafa taşma kontrolü
                if (top + menuHeight > windowHeight) {
                    top = windowHeight - menuHeight;
                }

                menu.style.left = left + 'px';
                menu.style.top = top + 'px';
                menu.style.display = 'block';
            }
        });

        function isMobileDevice() {
            return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1);
        }

        document.addEventListener('click', function () {
            var menu = document.getElementById('custom-menuu');
            menu.style.display = 'none';
        });

        document.querySelectorAll('.menu-item').forEach(function (item) {
            item.addEventListener('click', function () {
                var action = this.getAttribute('data-action');
                switch (action) {
                    case 'back':
                        goBack();
                        break;
                    case 'forward':
                        goForward();
                        break;
                    case 'reload':
                        reloadPage();
                        break;
                    case 'save':
                        downloadNormal()
                        break;
                    case 'print':
                        printPage();
                        break;
                    default:
                        break;
                }
            });
        });
    </script>
    <script>
        let lastTouchDistance = 0;
        let isZooming = false;
        let animationFrameId = null;

        canvas.addEventListener('touchstart', handleTouchStart, false);
        canvas.addEventListener('touchmove', handleTouchMove, false);
        canvas.addEventListener('touchend', handleTouchEnd, false);

        function handleTouchStart(e) {
            if (e.touches.length === 1) {
                isDragging = true;
                startX = e.touches[0].clientX - translateX;
                startY = e.touches[0].clientY - translateY;
            } else if (e.touches.length === 2) {
                isZooming = true;
                lastTouchDistance = getTouchDistance(e.touches);
            }
        }

        function handleTouchMove(e) {
            e.preventDefault();
            if (animationFrameId) {
                cancelAnimationFrame(animationFrameId);
            }
            animationFrameId = requestAnimationFrame(() => {
                if (isDragging && e.touches.length === 1) {
                    translateX = e.touches[0].clientX - startX;
                    translateY = e.touches[0].clientY - startY;
                    draw();
                } else if (isZooming && e.touches.length === 2) {
                    const touchDistance = getTouchDistance(e.touches);
                    const zoomFactor = touchDistance / lastTouchDistance;

                    const rect = canvas.getBoundingClientRect();
                    const centerX = (e.touches[0].clientX + e.touches[1].clientX) / 2 - rect.left - canvas.width / 2;
                    const centerY = (e.touches[0].clientY + e.touches[1].clientY) / 2 - rect.top - canvas.height / 2;

                    setScale(scale * zoomFactor, centerX, centerY);
                    lastTouchDistance = touchDistance;
                }
            });
        }
        function handleTouchEnd(e) {
            isDragging = false;
            isZooming = false;
        }

        function getTouchDistance(touches) {
            return Math.hypot(
                touches[0].clientX - touches[1].clientX,
                touches[0].clientY - touches[1].clientY
            );
        }

        // CTRL+U engelleme
        document.onkeydown = function (e) {
            if (e.ctrlKey && e.keyCode == 85) {
                e.preventDefault();
                return false;
            }
        };

        // F12 engelleme
        document.addEventListener('keydown', function (e) {
            if (e.key == 'F12') {
                e.preventDefault();
                return false;
            }
        });

        // CTRL+J engelleme
        document.addEventListener('keydown', function (e) {
            if (e.ctrlKey && e.keyCode == 74) {
                e.preventDefault();
                return false;
            }
        });
    </script>
</body>

</html>