<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magicolorize</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/staticfiles/css/style.css">
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="static/staticfiles/images/logo.png" alt="Magicolor" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Photo Editing Tools
                        </a>
                    </li>
                    <!-- Add other menu items similarly -->
                </ul>
                <div class="d-flex">
                    <button class="btn btn-login" onclick="openSignupModal()"> login / sign up </button>
                </div>
            </div>
        </div>
    </nav>

    <main class="main-content">
        <div class="container topblok">
            <h1>AI Photo Colorizer</h1>
            <p class="subtitle">Convert black and white photos to color online and turn your old photo into a
                colorful reality.</p>

            <div class="flex-container">
                <div class="image-comparison">
                    <img src="static/staticfiles/images/yeni.png" alt="Eski hali" oncontextmenu="return false"
                        onselectstart="return false" ondragstart="return false">
                    <div class="image-overlay">
                        <img src="static/staticfiles/images/eski.png" alt="Yeni hali" oncontextmenu="return false"
                            onselectstart="return false" ondragstart="return false">
                    </div>
                    <div class="slider">
                        <div class="slider-button"></div>
                    </div>
                </div>

                <div class="upload-area" id="drop-area">
                    <div class="upload-icon">⬆️</div>
                    <p>Drag image here or click to upload</p>
                    <form id="uploadForm" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="image" id="imageInput" style="display: none;" accept="image/*">
                        <button type="button" class="btn btn-upload"
                            onclick="document.getElementById('imageInput').click();">Upload Image</button>
                        <input type="submit" style="display: none;" id="submitButton">
                    </form>
                </div>
                <script>
                    const dropArea = document.getElementById('drop-area');
                    const imageInput = document.getElementById('imageInput');
                    const uploadForm = document.getElementById('uploadForm');

                    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                        dropArea.addEventListener(eventName, preventDefaults, false);
                    });

                    function preventDefaults(e) {
                        e.preventDefault();
                        e.stopPropagation();
                    }

                    ['dragenter', 'dragover'].forEach(eventName => {
                        dropArea.addEventListener(eventName, highlight, false);
                    });

                    ['dragleave', 'drop'].forEach(eventName => {
                        dropArea.addEventListener(eventName, unhighlight, false);
                    });

                    function highlight() {
                        dropArea.classList.add('highlight');
                    }

                    function unhighlight() {
                        dropArea.classList.remove('highlight');
                    }

                    dropArea.addEventListener('drop', handleDrop, false);

                    function handleDrop(e) {
                        const dt = e.dataTransfer;
                        const files = dt.files;

                        handleFiles(files);
                    }

                    function handleFiles(files) {
                        if (files.length > 0) {
                            const file = files[0];
                            if (file.type.startsWith('image/')) {
                                imageInput.files = files;
                                document.getElementById('submitButton').click();
                            } else {
                                alert('Lütfen sadece resim dosyası yükleyin.');
                            }
                        }
                    }

                    // Mevcut script
                    document.getElementById('imageInput').addEventListener('change', function () {
                        handleFiles(this.files);
                    });
                </script>
            </div>
            <script>
                document.getElementById('imageInput').addEventListener('change', function () {
                    document.getElementById('submitButton').click();
                });
            </script>
            </div>
        </div>
        <div class="recolor-container" id="recolor1">
            <div class="recolor-text">
                <h1>Recolor An Image or Portraits in Just One Click</h1>
                <p>The AI Photo Colorizer automatically converts your old photos to color.</p>
                <p>By employing AI colorization algorithms, the AI tech identifies portraits and objects within the
                    photo, infusing them with precise and vibrant colors.</p>
                <button class="recolor-button">Recolor Images</button>
                <button class="download-button">Download App</button>
            </div>
            <div class="recolor-video">
                <video autoplay loop muted>
                    <source src="static/staticfiles/video/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        <div class="recolor-container" id="recolor2">
            <div class="recolor-video">
                <video autoplay loop muted>
                    <source src="static/staticfiles/video/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="recolor-text">
                <h1>Recolor An Image or Portraits in Just One Click</h1>
                <p>The AI Photo Colorizer automatically converts your old photos to color.</p>
                <p>By employing AI colorization algorithms, the AI tech identifies portraits and objects within the
                    photo, infusing them with precise and vibrant colors.</p>
            </div>
        </div>
    </main>

    <div class="signup-modal-overlay" id="signupOverlay"></div>
    <div class="signup-modal" id="signupModal">
        <span class="signup-close" onclick="closeSignupModal()">&times;</span>
        <div class="signup-modal-content">
            <div class="signup-form" id="mainSignupForm">
                <h2 class="signup-title">Get Started with Magicolor</h2>
                <div class="signup-social-login">
                    <button class="signup-button signup-google">Continue with Google</button>
                    <button class="signup-button signup-facebook">Continue with Facebook</button>
                    <button class="signup-button signup-apple">Continue with Apple</button>
                </div>
                <div class="signup-or-divider">or</div>
                <button class="signup-button" onclick="showEmailSignupForm()">Continue with Email</button>
            </div>
            <div class="signup-form" id="emailSignupForm" style="display:none;">
                <h2 class="signup-title">Continue with Email</h2>
                <p>Enter your email to see if you have an account. If not, we will help you create a new account.</p>
                <input type="email" placeholder="Please enter your email address." id="signupEmailInput"
                    class="signup-input" required>
                <button style="background-color: #018554 !important;" class="signup-button"
                    onclick="continueWithSignupEmail()">Continue</button>
                <button class="signup-button signup-back-button" onclick="showMainSignupForm()">Back</button>
            </div>

            <!-- New password modal -->
            <div class="signup-form" id="passwordSignupForm" style="display:none;">
                <h2 class="signup-title">Enter Password</h2>
                <p>Please enter your password to continue.</p>
                <input type="password" placeholder="Enter your password" id="signupPasswordInput" class="signup-input"
                    required>
                <button style="background-color: #018554 !important;" class="signup-button"
                    onclick="loginWithPassword()">Log In</button>
                <button class="signup-button signup-back-button" onclick="showEmailSignupForm()">Back</button>
            </div>

            <div class="signup-image-container">
                <img src="static/staticfiles/images/login.png" alt="Northern Lights"
                    style="width:100%; height:100%; object-fit:cover;">
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Free AI Photo Colorizer. All rights reserved.</p>
        </div>
    </footer>
    <script>
        function openSignupModal() {
            document.getElementById('signupOverlay').style.display = 'block';
            document.getElementById('signupModal').style.display = 'block';
        }

        function closeSignupModal() {
            document.getElementById('signupOverlay').style.display = 'none';
            document.getElementById('signupModal').style.display = 'none';
        }

        function showEmailSignupForm() {
            document.getElementById('mainSignupForm').style.display = 'none';
            document.getElementById('emailSignupForm').style.display = 'block';
            document.getElementById('passwordSignupForm').style.display = 'none';
        }

        function showMainSignupForm() {
            document.getElementById('mainSignupForm').style.display = 'block';
            document.getElementById('emailSignupForm').style.display = 'none';
            document.getElementById('passwordSignupForm').style.display = 'none';
            backMainSignupForm();
        }
        function showMailPageSignupForm() {
            document.getElementById('mainSignupForm').style.display = 'none';
            document.getElementById('emailSignupForm').style.display = 'block';
            document.getElementById('passwordSignupForm').style.display = 'none';
        }

        function continueWithSignupEmail() {
            let email = document.getElementById('signupEmailInput').value;
            let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (email && emailRegex.test(email)) {
                fetch('/check_email/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: `email=${email}`
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            // E-posta kayıtlı, şifre formunu göster
                            document.getElementById('emailSignupForm').style.display = 'none';
                            document.getElementById('passwordSignupForm').style.display = 'block';
                        } else {
                            // E-posta kayıtlı değil, kayıt formunu göster
                            showSignupForm(email);
                        }
                    });
            } else {
                alert("Lütfen geçerli bir e-posta adresi girin.");
            }
        }

        function loginWithPassword() {
            let email = document.getElementById('signupEmailInput').value;
            let password = document.getElementById('signupPasswordInput').value;

            console.log("Attempting login with email:", email);
            // Şifreyi loglamayın, güvenlik açısından önemlidir

            fetch('/user_login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: new URLSearchParams({
                    'email': email,
                    'password': password,
                    'csrfmiddlewaretoken': getCookie('csrftoken')
                })
            })
                .then(response => response.json())
                .then(data => {
                    console.log("Login response:", data);
                    if (data.success) {
                        alert(data.message);
                        closeSignupModal();
                        if (data.redirect_url) {
                            window.location.href = data.redirect_url;
                        } else {
                            location.reload();
                        }
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("Bir hata oluştu. Lütfen daha sonra tekrar deneyin.");
                });
        }

        function showSignupForm(email) {
            // Burada yeni bir kayıt formu oluşturun veya mevcut formu güncelleyin
            let signupForm = `
            <h2 class="signup-title">Create a New Account</h2>
            <input type="email" value="${email}" id="newSignupEmail" class="signup-input" readonly>
            <input type="password" placeholder="Enter your password" id="newSignupPassword" class="signup-input" required>
            <input type="password" placeholder="Confirm your password" id="newSignupConfirmPassword" class="signup-input" required>
            <input type="text" placeholder="Enter your name" id="newSignupName" class="signup-input" required>
            <input type="text" placeholder="Enter your surname" id="newSignupSurname" class="signup-input" required>
            <button style="background-color: #018554 !important;" onclick="submitSignup()" class="signup-button">Sign Up</button>
            <button onclick="showMainSignupForm()" class="signup-button">Back</button>
        `;
            document.getElementById('emailSignupForm').innerHTML = signupForm;
        }

        function backMainSignupForm(email) {
            // Burada yeni bir kayıt formu oluşturun veya mevcut formu güncelleyin
            let signupForm = `
            <h2 class="signup-title">Continue with Email</h2>
                <p>Enter your email to see if you have an account. If not, we will help you create a new account.</p>
                <input type="email" placeholder="Please enter your email address." id="signupEmailInput"
                    class="signup-input" required>
                <button style="background-color: #018554 !important;" class="signup-button"
                    onclick="continueWithSignupEmail()">Continue</button>
                <button class="signup-button signup-back-button" onclick="showMainSignupForm()">Back</button>
        `;
            document.getElementById('emailSignupForm').innerHTML = signupForm;
        }

        function submitSignup() {
            let email = document.getElementById('newSignupEmail').value;
            let password = document.getElementById('newSignupPassword').value;
            let confirmPassword = document.getElementById('newSignupConfirmPassword').value;
            let name = document.getElementById('newSignupName').value;
            let surname = document.getElementById('newSignupSurname').value;

            // Tüm alanların dolu olduğunu kontrol et
            if (!email || !password || !confirmPassword || !name || !surname) {
                alert("Lütfen tüm alanları doldurun.");
                return;
            }

            // E-posta formatını kontrol et
            let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                alert("Lütfen geçerli bir e-posta adresi girin.");
                return;
            }

            if (password !== confirmPassword) {
                alert("Şifreler eşleşmiyor.");
                return;
            }

            // Şifre gücünü kontrol et (örnek: en az 8 karakter)
            if (password.length < 8) {
                alert("Şifre en az 8 karakter uzunluğunda olmalıdır.");
                return;
            }

            fetch('signup/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: new URLSearchParams({
                    'email': email,
                    'password': password,
                    'name': name,
                    'surname': surname,
                    'csrfmiddlewaretoken': getCookie('csrftoken')
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert(data.message);
                        closeSignupModal();
                        if (data.redirect_url) {
                            window.location.href = data.redirect_url;
                        } else {
                            location.reload();
                        }
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("Bir hata oluştu. Lütfen daha sonra tekrar deneyin.");
                });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;
        }


    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        const container = document.querySelector('.image-comparison');
        const overlay = document.querySelector('.image-overlay');
        const slider = document.querySelector('.slider');

        let isDown = false;

        function getPosition(event) {
            return event.type.includes('touch') ? event.touches[0].clientX : event.clientX;
        }

        function move(e) {
            if (!isDown) return;

            const rect = container.getBoundingClientRect();
            const x = getPosition(e) - rect.left;
            const percent = Math.min(Math.max(x / rect.width * 100, 0), 100);

            overlay.style.width = `${percent}%`;
            slider.style.left = `${percent}%`;
        }

        slider.addEventListener('mousedown', () => isDown = true);
        slider.addEventListener('touchstart', () => isDown = true);

        window.addEventListener('mouseup', () => isDown = false);
        window.addEventListener('touchend', () => isDown = false);

        window.addEventListener('mousemove', move);
        window.addEventListener('touchmove', move);
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const options = {
                root: null, // viewport'u referans olarak alır
                rootMargin: '0px',
                threshold: 0.1 // öğenin en az %10'u görünür olmalı
            };

            const observer = new IntersectionObserver((entries) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        const container = entry.target;
                        const text = container.querySelector('.recolor-text');
                        const video = container.querySelector('.recolor-video');

                        if (container.id === 'recolor1') {
                            text.classList.add('animate-slide-left');
                            video.classList.add('animate-slide-right');
                        } else if (container.id === 'recolor2') {
                            text.classList.add('animate-slide-right');
                            video.classList.add('animate-slide-left');
                        }

                        // Öğeyi gözlemden kaldır
                        observer.unobserve(container);
                    }
                });
            }, options);

            // Her bir container'ı gözlem altına al
            document.querySelectorAll('.recolor-container').forEach(container => {
                observer.observe(container);
            });
        });

    </script>
</body>

</html>